.groceryitem {
  width: 60%;
  padding-left: 10px;
  height: 50px;
  border-style: solid;
  border-color: antiquewhite;
  display: inline-block;
}

body {
  background-image: url('assets/groc.jpg');
}

.grocer {
  background-color: green;
  width: 15%;
  margin: auto;
  border-style: solid;
  border-color: orange;
}

.addtocart {
  margin-top: 15px;
  display: inline-block;
}

.itemname, .itemprice, .p2, .payment {
  display: inline-block;
}

h2 {
  text-align: center;
}

h1 {
  color: yellow
}